<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="file" xsi:type="File" layout="${date:format=yyyyMMddHHmmss} | ${threadname} | ${callsite} | ${message} ${exception:format=tostring}" fileName="${basedir}\Logs\${date:format=yyyyMMdd}.log" />
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=yyyyMMddHHmmss} | ${threadname} | ${callsite} | ${message} ${exception:format=tostring}"/>
    <!--<target name="email" type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="scapsystem@gmail.com"
            smtpPassword="Asdfgh1234"
            enableSsl="true"
            from="scapsystem@gmail.com"
            to="johnnytorres83@gmail.com"
            layout="${date:format=yyyyMMddHHmmss} | ${threadname} | ${callsite}  ${message} ${exception:format=tostring}"
          />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--<logger name="*" minlevel="Error" writeTo="email" />-->
    </rules>
  
</nlog>
